.u-section-1 .u-sheet-1 {
  min-height: 832px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-1 .u-image-1 {
  min-height: 247px;
  background-image: url("../images/cb43c1f64d2c54c189395307b20e24f6e72a8de1bfe8407e07717101751074af8239c99d02f2b3a5b3697b997eb0316e6f0a93a317e1131f82609a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 475px;
  background-image: url("../images/c33a4c50aa3c7b08008e864aa74ab9bbd4b5fd9c7bdc4192bcba006bc8f6c3be432dd60f33fa62cf625680e62682d75a2629188023270683093178_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 247px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 103px 114px 0 219px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  line-height: 2.2;
  margin: 0 1px;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-2 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-3 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-4 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-5 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-6 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-7 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-list-icon-1 {
  color: rgb(33, 150, 243) !important;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  line-height: 2.2;
  margin: 8px 1px 0;
}

.u-section-1 .u-list-icon-10 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-11 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-12 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-13 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-14 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-15 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-16 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-10 {
  color: rgb(244, 67, 54) !important;
}

.u-section-1 .u-list-icon-10 {
  color: rgb(244, 67, 54) !important;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 706px;
  }

  .u-section-1 .u-image-1 {
    min-height: 204px;
  }

  .u-section-1 .u-image-2 {
    min-height: 392px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 204px;
  }

  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-size: 3rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 39px;
    margin-left: 144px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 392px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 392px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-image-1 {
    min-height: 156px;
  }

  .u-section-1 .u-image-2 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1778px;
  }

  .u-section-1 .u-image-1 {
    min-height: 278px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 335px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-1 .u-image-1 {
    min-height: 175px;
  }

  .u-section-1 .u-image-2 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}