* {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}

html {
 font-size: 62.5%;
}

body {
 font-family: 'Rubik', sans-serif;
 line-height: 1;
 font-weight: 400;
 color: #555;
 font-size: 1.8rem;
}

header {
 font-size: 4.4rem;
 text-align: center;
 padding: 0.8rem;
 background: #e78229;
 color: #fff3e8;
}

.container {
 max-width: 130rem;
 background-color: #fff3e8;
 margin: 0 auto;
}
.padding {
 padding: 3.6rem;
}

.css-image {
 height: 24rem;
 width: 24rem;
 background-color: #e78229;
 justify-self: center;
 position: relative;
}