 .u-section-1 {
  background-image: url("../images/technology-git-github-hd-wallpaper-preview.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 33px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 570px 0 0;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 380px;
  margin: -348px 0 50px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 370px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 150px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 180px;
  }
}