.container {
 max-width: 150rem;
 background-color: #fff3e8;
 margin: 0 auto;
}

.grid-2-cols {
 display: grid;
 grid-template-columns: 1fr 1fr;
 padding: 5rem;
 gap: 5.2rem;
 justify-items: center;
 align-items: center;
}

.text {
 max-width: 45rem;
}

.text-number {
 color: #ccc;
 font-size: 3rem;
 font-weight: 600;
 margin-bottom: 1.2rem;
}

.text-heading {
 font-size: 2rem;
 font-weight: 600;
 margin-bottom: 3rem;
}

.css-image {
 height: 24rem;
 width: 24rem;
 background-color: #e78229;
 justify-self: center;
 position: relative;
}
.img-01 {
 border-radius: 5% 40% 40% 40%;
}
.img-02 {
 border-radius: 40% 5% 40% 40%;
}