{% extends "base.html" %}
{% block content %}

<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />

     <link rel="stylesheet" href="../../static/css/AAA Testing.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
  <body class="u-body u-xxl-mode" >
    <section class="u-clearfix u-image u-xxl-mode u-section-1" id="carousel_c202" data-image-width="1450" data-image-height="965">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-custom-font u-font-raleway u-text u-text-palette-2-base u-text-1">AAA Testing</h4>
        <ol class="u-spacing-10 u-text u-text-2 " >
          <li>
            <p class="u-text-body-alt-color" >
              <em style="font-weight: 700;">Arrange </em>inputs and targets.&nbsp;Arrange&nbsp;steps should set up the test case. Does the test require any objects or special settings? Does it need to prep a database? Does it need to log into a web app? Handle all of these operations at the start of the test.
            </p>
          </li>
          <li>
            <p class="u-text-body-alt-color">
              <em style="font-weight: 700;">Act</em>&nbsp;on the target behavior.&nbsp;Act&nbsp;steps should cover the main thing to be tested. This could be calling a function or method, calling a REST API, or interacting with a web page. Keep actions focused on the target behavior.<br>
            </p>
          </li>
          <li>
            <p class="u-text-body-alt-color">
              <em style="font-weight: 700;">Assert</em>&nbsp;expected outcomes.&nbsp;Act&nbsp;steps should elicit some sort of response.&nbsp;Assert&nbsp;steps verify the goodness or badness of that response. Sometimes, assertions are as simple as checking numeric or string values. Other times, they may require checking multiple facets of a system. Assertions will ultimately determine if the test passes or fails.
            </p>
            <br>
          </li>
        </ol>
        <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dc04"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-dc04" style="enable-background:new 0 0 160 140;"><path d="M90,45H0v50h90v45l70-70L90,0V45z"></path></svg>
        </div>
        <h4 class="u-text u-text-3">
          <span class="u-text-white">The Pattern:<br>
          </span>&nbsp;&nbsp;<br>
        </h4>
        <img class="u-image u-image-default u-image-1" src="../../static/images/EqQGEH5M9qK8OlUAHMubBg.png" alt="" data-image-width="1400" data-image-height="1364">
      </div>
    </section>
  </body>
</html>
{% endblock %}