{% extends "base.html" %}
{% block content %}

<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />

     <link rel="stylesheet" href="../../static/css/AAA Testing.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
  <body class="u-body u-xxl-mode" >
    <section class="u-clearfix u-image u-xxl-mode u-section-1" id="carousel_c202" data-image-width="1450" data-image-height="965">
      <div class="u-clearfix u-sheet u-sheet-1">
          <h1 style="color:white"><b>AAA Testing</b></h1>
          <!--<p style="color:white">AAA (Arrange, Act, Assert) is a common way of writing unit tests for a method under test.</p>-->
        <ol class="u-spacing-10 u-text u-text-2 " >
          <li>
            <p class="u-text-body-alt-color" >
              <em style="font-weight: 700;"> The Arrange </em>section of a unit test method initializes objects and sets the value
                of the data that is passed to the method under test.
            </p>
          </li>
          <li>
            <p class="u-text-body-alt-color">
              <em style="font-weight: 700;">The Act</em> section invokes the method under test with the arranged parameters.<br>
            </p>
          </li>
          <li>
            <p class="u-text-body-alt-color">
              <em style="font-weight: 700;">The Assert</em> section verifies that the action of the method under test behaves as expected.
                For .NET methods in the Assert class are often used for verification.
            </p>
              <p style="color:white">The goal of python unit testing is to detect as many bugs and inconsistencies in the infancy of
              the application development as possible.</p>
            <br>
          </li>
        </ol>
        <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dc04"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-dc04" style="enable-background:new 0 0 160 140;"><path d="M90,45H0v50h90v45l70-70L90,0V45z"></path></svg>
        </div>
        <h4 class="u-text u-text-3">
          <span class="u-text-white"><br>
          </span>&nbsp;&nbsp;<br>
        </h4>
        <img class="u-image u-image-default u-image-1" src="../../static/images/1__MiurxVJ3baRaV6s7r4vwA.png" alt="" data-image-width="1400" data-image-height="1364">
      </div>
    </section>
  </body>
</html>
{% endblock %}