{% extends "base.html" %}
{% block content %}
    <!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />

     <link rel="stylesheet" href="../../static/css/Git.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
 <body>
    <section class="u-clearfix u-image u-section-1" id="sec-cb95" data-image-width="1280" data-image-height="908">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-right u-clearfix u-rich-text u-text u-text-1"
        style="color:white">
          <h1 style="text-align:center";>Git Cheat Sheet</h1>
          <p style="text-align: center;">
            <span style="line-height: 2.0;">Git is a DevOps tool used for source code management. It is a free and open source
            version control system used to handle small to very large projects efficiently.</span>
            <br>
            <span style="line-height: 2.0;">Git is used to tracking chances in the source code, allowing
            multiple developers to work together at the same time.</span>
              <br>
              <br>
              <br>
              <br>
          </p>
        </div>
        <ul class="u-align-left u-text u-text-2"
        style="color:white">
          <li>git branch - Lets you create, list, rename, and delete branches</li>
          <li>git merge - Git's way of putting a forked history back together again</li>
          <li>git commit - Captures a snapshot of the project's currently staged changes</li>
          <li>git tags - Ref's that point to specific points in Git history</li>
          <li>git repositories - A collection of files of various different versions of the project</li>
        </ul>
          <p style="color:white">More Git Commands:</p>
          <ul class="u-align-left u-text u-text-2"
          style="color:white">
          <li>git add - Adds a change in the working directory to the staging area</li>
          <li>git init - Creates a new local repository</li>
          <li>git push (origin master) - Sends changes to the master branch of your repository</li>
          <li>git status - Lists the files you've changed and those you still need to add or commit</li>
          <li>git pull -&nbsp;Fetch and merges changes on the remote server to your working directory</li>
          <li>git grep - Searches the working directory for foo():</li>
        </ul>
        <!--<img class="u-image u-image-default u-image-1" src="../../static/images/e6ec75be8f3836e952d56fd33fe6e26a287e0739b1249278c595c5dfb1ad9ab2f4071b8a73f467fd684ce7c26f380e63a555c9988162b3b845f512_1280.jpg" alt="" data-image-width="1280" data-image-height="853">-->
      </div>
    </section>


 </body>
</html>
{% endblock %}