{% extends "base.html" %}
{% block content %}
    <!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />

     <link rel="stylesheet" href="../../static/css/Git.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
 <body>
    <section class="u-clearfix u-image u-section-1" id="sec-cb95" data-image-width="1280" data-image-height="908">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-right u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: center;">Git IS Getting</h1>
          <p style="text-align: center;">
            <span style="line-height: 2.0;">A free and open source containing distributed code management and Version Control System that is accessible under the GNU General Public License version 2. In addition to software version control, Git is used for other applications including configuration management and content management.</span>
            <br>
            <span style="line-height: 2.0;">Git comes with a variety of features, some of which are listed below. It can help developers utilize code online, update their own code, and more.</span>
              <br>
              <br>
              <br>
              <br>
          </p>
        </div>
        <ul class="u-align-left u-text u-text-2">
          <li>git add - adds edited files</li>
          <li>git commit - saves edited files to branch</li>
          <li>git push - uploads commited branch</li>
          <li>git pull - retreives repositories from web</li>
          <li>git merge - combines branches on repositories</li>
          <li>git clone - copies an existing repository from web</li>
          <li>git init - turns directory into repository</li>
          <li>git checkout - switches branches</li>
          <li>git status - returns state of repository</li>
          <li>git remote -&nbsp;connects local and remote repositories</li>
          <li>git branch - determines current branch</li>
          <li>git stash - save changes without committing</li>
          <li>git rm - removes files or directories</li>
          <li>git log - shows chronological order of commits</li>
        </ul>
        <img class="u-image u-image-default u-image-1" src="../../static/images/e6ec75be8f3836e952d56fd33fe6e26a287e0739b1249278c595c5dfb1ad9ab2f4071b8a73f467fd684ce7c26f380e63a555c9988162b3b845f512_1280.jpg" alt="" data-image-width="1280" data-image-height="853">
      </div>
    </section>


 </body>
</html>
{% endblock %}