{% extends "base.html" %}
{% block content %}
    <!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />
     <link rel="stylesheet" href="../../static/css/Integrate-Deploy.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
 <body>
    <section class="u-clearfix u-image u-section-1" id="carousel_c202" data-image-width="318" data-image-height="159">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1" style="text-align: center">Continuous Integration & Deployment</h2>
          <p> A method used frequently to deliver apps to customers by introducing automation into the stages of development. The main concepts associated with to CI/CD are continuous integration, continuous delivery, and continuous deployment. CI/CD solves the problem of integrating new code which can be a menace for development and operations teams (AKA "integration hell"). Specifically, CI/CD introduces ongoing automation and continuous monitoring throughout the lifecycle of apps, from integration and testing phases to delivery and deployment. Put together, these connected practices are often referred to as a "CI/CD pipeline" and are supported by development and operations teams working together in an agile way with either a DevOps or site reliability engineering (SRE) approach.</p>
        <h4 class="u-text u-text-2">Benefits &amp; Challenges:<br>&nbsp;&nbsp;<br>
        </h4>
        <ul class="u-custom-list u-spacing-10 u-text u-text-3">
          <li>
            <div class="u-list-icon u-list-icon-1">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path></g></g></svg>
            </div>Enable scaling<br>
          </li>
          <li>
            <div class="u-list-icon u-list-icon-1">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path>
</g>
</g></svg>
            </div>
            <div class="u-list-icon u-list-icon-3">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path>
</g>
</g></svg>
            </div>Improve Feedback loop
          </li>
          <li>
            <div class="u-list-icon u-list-icon-4">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path>
</g>
</g></svg>
            </div>Enhance communication<br>
          </li>
          <li>
            <div class="u-list-icon u-list-icon-5">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path>
</g>
</g></svg>
            </div>Adoption
          </li>
          <li>
            <div class="u-list-icon u-list-icon-6">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path>
</g>
</g></svg>
            </div>Installation<br>
          </li>
          <li>
            <div class="u-list-icon u-list-icon-7">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path>
</g></g></svg>
            </div>Optimize pipeline speed<br>
          </li>
          <li>
            <div class="u-list-icon u-list-icon-1">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path>
</g>
</g></svg>
            </div>Test driven development
          </li>
          <li>
            <div class="u-list-icon u-list-icon-1">
              <svg class="u-svg-content" viewBox="0 0 341.333 341.333" x="0px" y="0px" id="svg-d980"><g><g><path d="M170.667,0C76.41,0,0,76.41,0,170.667s76.41,170.667,170.667,170.667s170.667-76.41,170.667-170.667S264.923,0,170.667,0z     M170.667,298.667c-70.692,0-128-57.308-128-128s57.308-128,128-128s128,57.308,128,128S241.359,298.667,170.667,298.667z"></path>
</g>
</g></svg>
            </div>Learning curve
          </li>
        </ul>
        <img class="u-image u-image-default u-image-1" src="../../static/images/xenonstack-continuous-integration-and-continuous-delivery.png" alt="" data-image-width="640" data-image-height="360">
        <div class="u-shape u-shape-svg u-text-palette-1-base u-shape-1">
          <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 140" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dc04"></use></svg>
          <svg class="u-svg-content" viewBox="0 0 160 140" x="0px" y="0px" id="svg-dc04" style="enable-background:new 0 0 160 140;"><path d="M90,45H0v50h90v45l70-70L90,0V45z"></path></svg>
        </div>
      </div>
    </section>

 </body>
</html>
{% endblock %}