{% extends "base.html" %}
{% block content %}
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />
     <link rel="stylesheet" href="../../static/css/OOPs.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
  <body class="u-body u-xl-mode">
    <section class="u-clearfix u-image u-section-1" id="sec-cb95" data-image-width="1400" data-image-height="831">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-right u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: center;">
            <span class="u-text-white">OOPs</span>
          </h1>
          <p style="text-align: center;">
            <span class="u-text-white">OOP definitions -<br>
            </span>
            <p style="line-height: 2;">
              <span class="u-text-white">Object-oriented programming is a programming paradigm based on the concept of "objects", which can contain data and code - data in the form of fields, and code, in the form of procedures. One feature of objects is that its own procedures can access and often modify the data fields.</span>
            </p>
          </p>
        </div>
        <img class="u-image u-image-default u-image-1" src="../../static/images/objects.png" alt="" data-image-width="1300" data-image-height="957">
        <ul class="u-align-left u-text u-text-2" style="color:white">
          <li>instantiation - the creation of a real instance or particular realization of an abstraction or template such as a class of objects or a computer process.</li>
          <li>class - instruction for creating objects giving values and behavioral implementations</li>
          <li>object - data created by developer that can be structure, method, function, or variable</li>
          <li>namespace - names used to identify different kinds of objects</li>
          <li>constructor - method that creates a special object of a class</li>
          <li>fixture - sample data</li>
          <li>type hint - solution that indicates value type</li>
          <li>type cast - changing object type</li>
          <li>unit test - testing small piece of code</li>
          <li>static -&nbsp;another way to say constant</li>
          <li>instance method - method that requires an object of its class to be created first</li>
          <li>instance property - used to store state of object</li>
          <li>static method - method that belongs to a class</li>
          <li>static property - used to refer to common property</li>
          <li>encapsulation - grouping of data including methods to one object</li>
          <li>inheritance - mechanism of basing an object or class upon another object</li>
          <li>polymorphism - use of a single symbol to represent multiple different types</li>
          <li>abstraction - removing physical, spatial, or temporal details or attributes in the study of objects or systems</li>
        </ul>
      </div>
    </section>
  </body>
</html>
{% endblock %}