{% extends "base.html" %}
{% block content %}
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />
 <link rel="stylesheet" href="../../static/css/z-style.css" />
 <link rel="stylesheet" href="../../static/css/general.css" />
     <link rel="stylesheet" href="../../static/css/OOPs.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
  <body class="u-body u-xl-mode">
    <section class="u-clearfix u-image u-section-1" id="sec-cb95" data-image-width="1280" data-image-height="831">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-right u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: center;">
            <span class="u-text-white">OOPs</span>
          </h1>
          <p style="text-align: center;">
            <span class="u-text-white">4 Basics - Inheritance, Encapsulation, Polymorphism, Data abstraction<br>
            </span>
            <span style="line-height: 2;">
              <span class="u-text-white">Object-oriented programming is a programming paradigm based on the concept of "objects", which can contain data and code: data in the form of fields, and code, in the form of procedures. A feature of objects is that an object's own procedures can access and often modify the data fields of itself.&nbsp;</span>
            </span>
            <span style="line-height: 2;">
              <span class="u-text-white">&nbsp;&nbsp;</span>
            </span>
          </p>
        </div>
        <img class="u-image u-image-default u-image-1" src="../../static/images/blet-phone-camera-lens-wallet-and-different-objects-vintage-and-modern-concept-freelancers-outfit-clipping-mask-for-2G4CKK7.jpg" alt="" data-image-width="1300" data-image-height="957">
        <blockquote class="u-align-left u-text u-text-body-alt-color u-text-2">Encapsulation is a way to ensure security. Basically, it hides the data from the access of outsiders. Such as if an organization wants to protect an object/information from unwanted access by clients or any unauthorized person then encapsulation is the way to ensure this. <br>
        </blockquote>
        <blockquote class="u-align-left u-text u-text-body-alt-color u-text-3">Polymorphism in OOP refers to the functions having the same names but carrying different functionalities.</blockquote>
        <blockquote class="u-align-left u-text u-text-body-alt-color u-text-4"> We use Abstraction for hiding the internal details or implementations of a function and showing its functionalities only.</blockquote>
        <blockquote class="u-align-left u-text u-text-body-alt-color u-text-5">Inheritance is the procedure in which one class inherits the attributes and methods of another class.&nbsp; The class whose properties and methods are inherited is known as Parent class. And the class that inherits the properties from the parent class is the Child class.</blockquote>
      </div>
    </section>
  </body>
</html>
{% endblock %}