{% extends "base.html" %}
{% block content %}
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />
     <link rel="stylesheet" href="../../static/css/OOPs.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
  <body class="u-body u-xl-mode">
    <section class="u-clearfix u-image u-section-1" id="sec-cb95" data-image-width="1400" data-image-height="831">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-right u-clearfix u-rich-text u-text u-text-1">
          <h1 style="text-align: center;">
            <span class="u-text-white">OOP</span>
          </h1>
          <p style="text-align: center;">
            <span class="u-text-white">Object Oriented Programming<br>
            </span>
            <p style="line-height: 2;">
              <span class="u-text-white">Object-oriented programming is a computer programming model that organizes
                  software design around data, or objects, rather than functions and logic. OOP language allows to break
              the program into the bit-sized problems that can be solved easily.</span>
            </p>
            <p>Definitions:</p>
          </p>
        </div>
        <img class="u-image u-image-default u-image-1" src="../../static/images/Object%20oriented%20programming.jpeg" alt="" data-image-width="1300" data-image-height="957">
        <ul class="u-align-left u-text u-text-2" style="color:white">
          <li>Instantiation - To create an instance by defining one particular variation of object within a class.</li>
          <li>Class - A blueprint for creating objects, providing initial values for state and implementations of behavior.</li>
          <li>Object - Units of code that are eventually derive from the process.</li>
          <li>Namespace - A declarative region that provides a scope to the identifiers inside it.</li>
          <li>Constructor - A special method of class or structure in OOP that initializes a newly created object.</li>
          <li>Fixture - Sample Date.</li>
          <li>Type Hint - A formal solution to indicate the type of value within your code.</li>
          <li>Type Cast - A way of changing an object from one data type to the next.</li>
          <li>Unit Test - Programs that test classes.</li>
          <li>Static -&nbsp;The variable or method marked as such is available at the class level.</li>
          <li>Instance Method - A method that belongs to an instance of a class.</li>
          <li>Instance Property - Applies to specific system servers.</li>
          <li>Static Method - A method that belongs to a class rather an instance of a class.</li>
          <li>Static Property - Accessed using the Scope Resolution Operator and cannot be accessed through the object operator.</li>
          <li>Encapsulation - The grouping of data with the methods that operate on the data.</li>
          <li>Inheritance - The procedure in which one class inherits the attributes and methods of another class.</li>
          <li>Polymorphism - Situations in which something occurs in several forms.</li>
          <li>Abstraction - Hides the internal implementation details.</li>
        </ul>
          <p style="color:white">SOLID is a set of design principles that are used in OOP software development. SOLID principles include Single Responsibility Principle, Open-Closed Principle, Liskov Substitution Principle,
          Interface Segregation Principle, and Dependency Inversion Principle.</p>
          <p style="color:white">A design pattern provides a general reusable solution for the common problems that occur in software design.</p>
      </div>
    </section>
  </body>
</html>
{% endblock %}