{% extends "base.html" %}
{% block content %}
    <!DOCTYPE html>
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />
     <link rel="stylesheet" href="../../static/css/Python-Flask.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
 <body>
    <section class="u-clearfix u-section-1" id="sec-8349">
      <div class="u-align-left u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-expanded-width u-grey-10 u-opacity u-opacity-45 u-shape u-shape-1"></div>
      <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-image u-image-circle u-image-1" alt="" data-image-width="225" data-image-height="225"></div>
                <h3 class="u-align-justify u-text u-text-1">Python</h3>
                <p class="u-align-justify u-custom-font u-font-montserrat u-text u-text-2">Python is a simple yet sleek programming language commonly used nowadays among developers. Although it may not be able to handle heavy-duty tasks such as iterating through system files or converting signed and unsigned integers to binary easily, it is frequently used in web development. Coupled with the typical HTML, CSS, &amp; JS files, Python has the capabilities to seamlessly put together a fully functional web app.</p>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h3 class="u-align-left u-text u-text-3">Flask</h3>
                <p class="u-align-justify u-custom-font u-font-montserrat u-text u-text-4"> Flask is a web framework - a Python module that lets you develop web applications easily. It also is a WSGI web app framework that also hosts a small and easy-to-extend core. Flask is a microframework that doesn't include an Object Relational Manager (ORM). It does contain other cool features such as url routing, template engine, etc.</p>
                <div class="u-image u-image-circle u-image-2" alt="" data-image-width="276" data-image-height="182"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

 </body>
</html>
{% endblock %}