{% extends "base.html" %}
{% block content %}
<html lang="en">
 <head>
 <meta charset="UTF-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <link rel="preconnect" href="https://fonts.googleapis.com" />
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
 <link
 href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
 rel="stylesheet"
 />
     <link rel="stylesheet" href="../../static/css/SOLID.css" />
     <link rel="stylesheet" href="../../static/css/nicepage.css" />

 </head>
  <body class="u-body u-xl-mode">
    <section class="u-align-center u-clearfix u-gradient u-section-1" id="sec-165f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">SOLID</h2>
        <p class="u-text u-text-default u-text-2">The first five object-oriented design principles</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-1"><img src="../../static/images/2653232.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-3"><em style="font-weight: 700;">S</em>RP</h3>
                <p class="u-align-center u-text u-text-4"
                style="color:white">
                  <span style="font-weight: 700;">Single Responsibility Principle</span>: A class should have one and only one reason to change, meaning that a class should have only job.
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-2"><img src="../../static/images/59809.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-5"><em style="font-weight: 700;">O</em>CP</h3>
                <p class="u-align-center u-text u-text-6"><span style="font-weight: 700;">Open-Closed Principle</span>: Objects or entities should be open for extension but closed
                    for modification. This means that a class should be extendable without modifying the class itself.
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-3"><img src="../../static/images/1192165.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-7"><em style="font-weight: 700;">L</em>SP</h3>
                <p class="u-align-center u-text u-text-8"><span style="font-weight: 700;">Liskov substitution principle</span>: Every subclass or derived class
                    should be substitutable for their base or parent class.
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-4"><img src="../../static/images/2857591.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-9"><em style="font-weight: 700;">I</em>SP</h3>
                <p class="u-align-center u-text u-text-10">
                  <span style="font-weight: 700;">Interface Segregation principles</span> tell us that a class should only have the interface needed and avoid methods that won’t work or that have no reason to be part of that class.
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-file-icon u-icon u-icon-circle u-palette-2-light-1 u-spacing-20 u-icon-5"><img src="../../static/images/1154074.png" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-11"><em style="font-weight: 700;">D</em>IP</h3>
                <p class="u-align-center u-text u-text-12">
                  <span style="font-weight: 700;">Dependency Inversion principle</span> helps abstractions to not depend on details. Details should depend on abstraction. High-level modules should not depend on low-level modules. Both modules should depend on abstractions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
{% endblock %}